{% import '@theme/agenda/macros.twig' as macros %}

{% set events = view.layout.agenda %}
<section class="calendar">
    <div class="columns is-multiline">
        <div class="events has-background-light column is-full-tablet is-one-third-desktop">
            <div class="scroll-container">
                <div class="wrapper">
                    <h2 class="title is-5">{{ __('Upcoming Events') }}</h2>
                    {% if events|length > 0 %}
                        <div class="events-list">
                            {% for item in events|slice(0, 4) %}
                                <div class="event">
                                    <a href="agenda.php?agenda_id={{ item.id }}">
                                        <div class="columns is-mobile">
                                            <div class="column is-one-quarter event-date">
                                                <span class="is-size-5-touch is-size-5-desktop month is-event-date is-uppercase">{{ item.van|date('M') }}</span>
                                                <span class="is-size-5-touch is-size-5-desktop day is-event-date">&nbsp;{{ item.van|date('d') }}</span>
                                            </div>
                                            <div id="event-{{loop.index - 1}}" class="column event-details">
                                                <h3 class="is-3 is-event-title is-capitalized">{{ item.kop }}</h3>
                                                {% if item.extern %}
                                                    <span class="details is-duration">{{ __('External activity') }}</span>
                                                {% else %}
                                                    <span class="details is-duration">{{ macros.format_time(item) }}</span>
                                                {% endif %}
                                                {% if item.is_proposal() %}
                                                    <span class="label-pending is-duration">{{ __('Waiting for approval') }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ __('There are no activities on the calendar at the moment.') }}</p>
                    {% endif %}
                    <a href="agenda.php" class="complete-calendar-link">{{ __('Complete calendar') }}</a>
                </div>
            </div>
        </div>

        <div class="column is-two-thirds-desktop" aria-hidden="true">
            <div class="carousel">
                {% for item in events|slice(0, 4) %}
                    <div class="is-active cover-thumbnail is-2by1">
                        <div class="overlay is-bottom">
                            <div class="date boxed-title-wrapper">
                                <span class="boxed-title has-text-weight-normal is-size-6 is-size-7-touch">
                                    {{ item.van|date('F d') }}
                                </span>
                            </div>
                            <div class="name boxed-title-wrapper">
                                <h1 class="boxed-title is-size-4 is-size-5-touch">
                                    {{ item.kop }}
                                </h1>
                            </div>
                        </div>
                        {% if item.image_url %}
                            <figure class="image">
                                <picture>
                                    <source srcset="{{ item.get_image(1000) }} 1000w, {{ item.get_image(2000) }} 2x">
                                    <source srcset="{{ item.get_image(600) }} 600w, {{ item.get_image(1200) }} 2x">
                                    <source srcset="{{ item.get_image(400) }} 400w, {{ item.get_image(800) }} 2x">
                                    <img class="is-background" src="{{ item.get_image(1000) }}"
                                    data-preview="{{ item.get_image(400) }}" alt="">
                                </picture>
                            </figure>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if events|length == 1 %}
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                {% elseif events|length == 0 %}
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
