<form method="GET" action="/vacancies.php" data-auto-submit data-allow-submit-on-enter data-use-native-submit data-visibility-selector="[data-filter-tags]">
    <div class="field has-addons">
        <div class="control is-expanded">
            {{ html_label(__('Search'), 'query', class='is-sr-only') }}
            {{ html_input_text('query', filter, type='search', placeholder=__('Type here to search vacancies…')) }}
        </div>
        <div class="control">
            <button class="button" type="submit">
                <span class="icon">
                    <i class="fas fa-search"></i>
                    <span class="is-sr-only">{{ __('Search') }}</span>
                </span>
            </button>
        </div>
    </div>
    <div class="field is-grouped is-grouped-multiline">
        {% if has_all_button is defined and has_all_button %}
            <div class="control">
                <a href="/vacancies.php" class="button">{{ __('All vacancies') }}</a>
            </div>
        {% endif %}
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Type') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for value, name in view.type_options() %}
                            <label class="checkbox dropdown-item" for="field-type-{{value}}" data-auto-submit-no-switch>
                                {{ html_input_checkbox('type[]', filter, id='field-type-' ~ value, value=value) }}
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Skill level') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for value, name in view.study_phase_options() %}
                            <label class="checkbox dropdown-item" for="field-study_phase-{{value}}" data-auto-submit-no-switch>
                                {{ html_input_checkbox('study_phase[]', filter, id='field-study_phase-' ~ value, value=value) }}
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Company') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for partner in view.partners() %}
                            {% set value = partner['id'] ?? partner['name'] %}
                            <label class="checkbox dropdown-item" for="field-partner-{{ value }}" data-auto-submit-no-switch>
                                {{ html_input_checkbox('partner[]', filter, id='field-partner-' ~ value, value=value) }}
                                {{ partner['name'] }}
                            </label>
                        {% else %}
                            <div class="dropdown-item">
                                {{ __('No companies found…') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
