{% extends '@layout/layout.twig' %}

{% block title iter.title ~ ' – ' ~ parent() %}

{% block page %}
<article class="section vacancy-single">
<div class="container has-sidebar block">
    <div class="level is-mobile controls">
        <div class="level-left">
            <a href="{{ controller.link({}) }}" class="button">
                <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                <span>{{__('All vacancies')}}</span>
            </a>
        </div>
        <div class="level-right">
            <div class="field is-grouped">
                {% if user_can_update iter or user_can_delete iter %}
                    <div class="control dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>{{ __('Manage') }}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% if user_can_update iter %}
                                    <a href="{{ controller.link_to_update(iter) }}" class="dropdown-item">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </span>
                                        <span>{{  __('Modify vacancy') }}</span>
                                    </a>
                                {% endif %}
                                {% if user_can_delete iter %}
                                    <a href="{{ controller.link_to_delete(iter) }}" class="dropdown-item" data-popup="modal">
                                        <span class="icon">
                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span>{{  __('Delete vacancy') }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="columns vacancy-details">
        <aside class="column is-sidebar">
            <h2 class="is-sr-only">{{ __('Vacancy details') }}</h2>
            <div class="is-sticky">
                {% if iter.partner %}
                    <figure class="image block">
                        {% if iter.partner.logo_dark_url is defined %}
                            <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
                        {% endif %}
                        <img class="default" src="{{ iter.partner.get_logo(700) }}">
                    </figure>
                {% endif %}
                <div class="content block">
                    <p class="property" title="{{ __('Company') }}">
                        <span class="icon">
                            <i class="fas fa-building" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Company') }}:</span>    
                        </span>
                        {% if iter.partner %}
                            <a href="{{ iter.partner.absolute_url }}">
                                {{ iter.partner.name }}
                            </a>
                        {% else %}
                            {{ iter.partner_name }}
                        {% endif %}
                    </p>
                    <p class="property" title="{{ __('Job type') }}">
                        <span class="icon">
                            <i class="fas fa-hourglass-half" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Job type') }}:</span>    
                        </span>
                        {{ view.type_options[iter.type] }}
                    </p>
                    <p class="property" title="{{ __('Skill level') }}">
                        <span class="icon">
                            <i class="fas fa-user-graduate" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Skill level') }}:</span>    
                        </span>
                        {{ view.study_phase_options[iter.study_phase] }}
                    </p>
                    {% if iter.url %}
                        <p class="property">
                            <span class="icon">
                                <i class="fas fa-globe" aria-hidden="true"></i>
                            </span>
                            <a href="{{ iter.url }}">{{ __('Details') }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </aside>
        <div class="column is-content">
            <h1 class="title">
                {{ iter.title }}
            </h1>
            <div class="content block">
                {{ iter.description|parse_markup }}
            </div>

            {% if iter.url %}
                {# TODO: markup doesn't render <p>'s, so this can be included in the content block as soon as we've fixed that #}
                <p>
                    <a href="{{ iter.url }}">{{ __('More information…') }}</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
</article>
{% endblock %}
