{% extends '@layout/layout.twig' %}

{% block title __('Remove message') ~ ' – ' ~ parent() %}

{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Delete message') }}</h1>
    </div>
</div>

<form method="post" action="forum.php?view=delete&amp;message={{ iter.id }}">
    {{ html_nonce('delete_message', iter) }}
    <div class="field">
        <p>{{ __('Are you sure you want to delete this message?') }}</p>
    </div>
    <div class="field">
        <div class="control buttons">
            <button type="submit" class="button is-danger">{{ __('Remove message')  }}</button>
            <a href="forum.php?message={{ iter.id }}" class="button">{{ __('Back to thread') }}</a>
        </div>
    </div>
</form>
{% endblock %}