{% extends '@layout/layout.twig' %}

{% import _self as fotoboek %}

{% macro render_face(face) %}
	{% set size = face.photo.get_scaled_size(null, 400) %}
	{% set scale = 100 / (face.h * size[1]) %}
	<figure style="display: inline-block; width: {{scale * face.w * size[0] }}px; height: {{scale * face.h * size[1]}}px; overflow: hidden; position: relative; padding: 0;" title="Added on {{face.photo.added_on}}">
		<img src="{{ face.photo.get_url(null, 400) }}" width="{{ scale * size[0] }}" height="{{ scale * size[1] }}" style="position: absolute; left: -{{scale * face.x * size[0]}}px; top: -{{scale * face.y * size[1] }}px; max-width: unset;">
	</figure>
{% endmacro %}

{% block title book.has('titel') ? book.titel : __('Photo book') ~ ' – ' ~ parent() %}

{% block content %}
<header>
	{# Photo book navigation. Hidden in book 0: there is no parent, next and prev book which results in an empty space. #}
	{% if book.id is not same as(0) %}
		<div class="level">
			<div class="level-left">
				{{ include('_path.twig') }}
			</div>
			<div class="level-right buttons">
				{% if book.previous_book and user_can_read book.previous_book %}
					<a href="fotoboek.php?view=people&amp;book={{ book.previous_book.id }}" class="button">
						<span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
						<span>{{ book.previous_book.titel }}</span>
					</a>
				{% endif %}	
				{% if book.next_book and user_can_read book.next_book %}
					<a href="fotoboek.php?view=people&amp;book={{ book.next_book.id }}" class="button">
						<span>{{ book.next_book.titel }}</span>
						<span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
					</a>
				{% endif %}
			</div>
		</div>
	{% endif %}

	<div class="level">
		<div class="level-left">
			<h1 class="title">{{ __('Faces') }}</h1>
		</div>
		{% if user_can_update book %}
		<form action="" method="post" class="level-right buttons">
			{{ html_nonce('cluster_photos', book) }}
			<button type="submit" class="button">{{ __("Re-run face detection") }}</button>
		</form>
		{% endif %}
	</div>
</header>

<article>		
	{% for cluster, faces in clusters %}
		<div class="media">
			<div class="media-content">
				<h2 class="title is-4">Cluster {{cluster}}</h2>
				{% for lid_id, lid_faces in faces|group_by('lid_id') %}
					{% if not lid_id %}
						<h3 class="title is-6">Not tagged</h3>
					{% else %}
						<h3 class="title is-6">Tagged as <a href="profiel.php?lid={{lid_id}}">{{ lid_id }}</a></h3>
					{% endif %}
					<div class="columns">
						{% for face in lid_faces %}
							<a class="column is-narrow" href="fotoboek.php?book={{ book.id }}&amp;photo={{ face.foto_id }}">{{ fotoboek.render_face(face) }}</a>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</ul>
</article>
{% endblock %}
