{% extends '@layout/layout.twig' %}

{% block title __('Partners') ~ ' – ' ~ parent() %}

{% block content %}
<header class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Partners') }}</h1>
    </div>
    <div class="level-right buttons">
        {% if user_can_create controller.new_iter %}
            <a href="{{ controller.link_to_create()|e('html_attr') }}" class="button">
                {{ __('New partner')  }}
            </a>
        {% endif %}
    </div>
</header>
<section class="table-container">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>{{ __('Name') }}</th>
                <th>{{ __('Type') }}</th>
                <th>{{ __('Profile') }}</th>
                <th>{{ __('Banner') }}</th>
                <th>{{ __('Vacancies') }}</th>
                <th class="is-sticky is-right is-nowrap"></th>
            </tr>
        </thead>
        <tbody>
        {% for partner in iters %}
            <tr>
                <td class="is-nowrap">
                    <a href="{{ controller.link_to_read(partner) }}">
                        {{ partner.name }}
                    </a>
                </td>
                <td>
                    <span class="tag">{{ view.type_options[partner.type] }}</span>
                </td>
                <td>
                    {% if partner.has_profile_visible %}
                        <span class="icon">
                            <i class="fas fa-check" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Profile is visible')}}</span>
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if partner.has_banner_visible %}
                        <span class="icon">
                            <i class="fas fa-check" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Banner is visible')}}</span>
                        </span>
                    {% endif %}
                </td>
                <td>
                    <a href="/vacancies.php?query=&amp;partner[]={{ partner.id }}">
                        {{ partner.vacancies|length }}
                    </a>
                </td>
                <td class="is-sticky is-right has-text-right is-nowrap">
                    <ul class="controls">
                        {% spaceless %}
                            {% if user_can_delete partner %}
                                <li>
                                    <a href="{{ controller.link_to_delete(partner) }}" title="{{ __('Delete partner') }}"  data-popup="modal">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span class="is-sr-only">
                                            {{ __('Delete partner') }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if user_can_update partner %}
                                <li>
                                    <a href="{{ controller.link_to_update(partner) }}" title="{{ __('Modify partner') }}">
                                        <span class="icon is-small">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </span>
                                        <span class="is-sr-only">
                                            {{ __('Modify partner') }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endspaceless %}
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">
                    <p class="has-text-centered">
                        {{ __('No partners found :(') }}
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
