{% extends '@layout/layout.twig' %}

{% block title view.title ~ ' – ' ~ parent() %}

{% block page %}
<article class="section">
<div class="container calendar {% if view.list_view_mode() == 'list' %}is-list{% endif %}">
<header class="block">
	<nav class="level is-mobile" role="navigation" aria-label="pagination">
		<div class="level-left">
			{% if view.previous_year %}
				<a href="{{ controller.link({'year': view.previous_year}) }}" class="level-item button">
					<span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
					{% if view.selected_year is null %}
						<span>{{ __('Archive') }}</span>
					{% else %}
						<span class="is-hidden-mobile">
							{{ view.previous_year }}-{{ view.previous_year + 1 }}
						</span>
						<span class="is-hidden-tablet">
							{{ view.previous_year }}/{{ (view.previous_year % 100) + 1 }}
						</span>
					{% endif %}
				</a>
			{% endif %}
		</div>
		<div class="level-right">
			{% if view.next_year %}
				<a href="{{ controller.link({'year': view.next_year}) }}" class="level-item button">
					<span class="is-hidden-mobile">
						{{ view.next_year }}-{{ view.next_year + 1 }}
					</span>
					<span class="is-hidden-tablet">
						{{ view.next_year }}/{{ (view.next_year % 100) + 1 }}
					</span>
					<span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
				</a>
			{% elseif view.selected_year is not null %}
				<a href="agenda.php" class="level-item button">
					<span class="is-hidden-mobile">{{ __('Upcoming events') }}</span>
					<span class="is-hidden-tablet">{{ __('Upcoming') }}</span>
					<span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
				</a>
			{% endif %}
		</div>
	</nav>
	<div class="level">
		<div class="level-left">
			<h1 class="title">{{ view.title }}</h1>
		</div>
		<div class="level-right field is-grouped">
			{% if global.auth.logged_in %}
				<div class="control">
					<button class="button calendar-list-view-button" title="{{  __('Grid view') }}" data-target-mode="grid"hidden>
						<span class="icon">
							<i class="fas fa-th-large" aria-hidden="true"></i>
							<span class="is-sr-only">{{  __('Grid view') }}</span>
						</span>
					</button>
					<button class="button calendar-list-view-button" title="{{  __('List view') }}" data-target-mode="list" hidden>
						<span class="icon">
							<i class="fas fa-th-list" aria-hidden="true"></i>
							<span class="is-sr-only">{{  __('List view') }}</span>
						</span>
					</button>
				</div>
				<div class="control">
					<div class="dropdown">
						<div class="dropdown-trigger">
							<button class="button" aria-haspopup="true" aria-controls="export-menu">
								<span>{{ __('Export') }}</span>
								<span class="icon is-small">
									<i class="fas fa-angle-down" aria-hidden="true"></i>
								</span>
							</button>
						</div>
						<div class="dropdown-menu" id="export-menu" role="menu">
							<div class="dropdown-content">
								<div class="dropdown-item">
									<p>{{ __('Add the Cover Calendar to your own calendar') }}</p>
								</div>
								<hr class="dropdown-divider">
								<a class="dropdown-item" href="https://calendar.google.com/calendar/render?cid={{'webcal://www.svcover.nl/agenda.php?format=webcal&session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank" rel="noopener noreferrer">
									Google Calendar
								</a>
								<a class="dropdown-item" href="http://calendar.live.com/calendar/calendar.aspx?rru=addsubscription&url={{'webcal://www.svcover.nl/agenda.php?format=webcal%26session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank" rel="noopener noreferrer">
									Outlook.com
								</a>
								<a class="dropdown-item" href="webcal://www.svcover.nl/agenda.php?format=webcal&session_id={{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}">
									iCloud/other
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		    {% if user_can_create controller.new_iter %}
		    	<div class="control">
					<a href="{{ controller.link_to_create() }}" class="button">{{ __('New event') }}</a>
		    	</div>
			{% endif%}
		</div>
	</div>
	{% if not global.auth.logged_in %}
		<div class="notification">
			{{ __('Log in to view hidden events.') }}
		</div>
	{% endif %}
</header>

<section class="block">
	{{ include('_events.twig', {events: iters}) }}
</section>
</div>
</article>
{% endblock %}
