<div class="event-signup-form">
{% if user_can_update form %}
    <div class="dropdown is-right is-pulled-right">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    <span class="is-sr-only">{{ __('Form options') }}</span>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
            	<a href="signup.php?view=update_form&amp;form={{ form.id }}" class="dropdown-item">
            		{{ __('Modify form') }}
            	</a>
				<a href="signup.php?view=list_entries&amp;form={{ form.id }}" class="dropdown-item">
					{{ __('Show sign-ups') }}
				</a>
            </div>
        </div>
    </div>
{% endif %}
{% for entry in form.get_entries_for_member(global.identity.member) %}
	<p>{{ __('You signed up on %s.')|format(entry.created_on|date('d-m-Y H:i')) }} {% if user_can_update entry %}<a href="signup.php?view=update_entry&amp;form={{form.id}}&amp;entry={{entry.id}}">{{ __('Show my registration') }}</a>.{% endif %}</p>
{% else %}
	{% set entry = form.new_entry(global.identity.member) %}
	{% if not form.is_open %}
		{% if user_can_create entry %}
			<div class="notification is-danger">
				<h2 class="title is-4">{{ __('The registrations are closed.') }}</h2>
				<p>{{ __('You can see this form because you are allowed to sign up people outside of the sign-up period.') }}</p>
			</div>
		{% else %}
			<p>
				{% if form.open_on is null %}
					{{ __('The sign-up form will soon be available on this page.')}}
				{% elseif form.open_on is future %}
					{{ __('The registrations will open on %s.')|format(form.open_on|date('d-m-Y, H:i')) }}
				{% elseif form.closed_on is past %}
					{{ __('The registrations are closed. The deadline was %s.')|format(form.closed_on|date('d-m-Y H:i')) }}
				{% else %}
					{{ __('The registrations are closed. The participant limit has been exceeded.') }}
				{% endif %}
			</p>
		{% endif %}
	{% endif %}
	{% if user_can_create entry %}
		<form action="{{ 'signup.php?view=create_entry&form=' ~ form.id }}" method="post">
			{{ html_input_hidden('return-path', controller.link_to_read(form.agenda_item)) }}
			{{ html_input_hidden('member_id', entry.member_id) }}
			
			{% if entry.has_id %}
				{{ html_nonce('update_entry', entry) }}
			{% else %}
				{{ html_nonce('create_entry', form) }}
			{% endif %}
			
			{% for field in form.fields %}
				{{ field.render(view, entry)|raw }}
			{% endfor %}

			<div class="field">
				<div class="control buttons">
					<button class="button is-primary" type="submit">{{ entry.has_id ? __('Modify sign-up') : __('Sign me up') }}</button>
				</div>
			</div>
		</form>
	{% endif %}
{% endfor %}
</div>