{% extends '@layout/layout.twig' %}

{% block title __('Career') ~ ' – ' ~ parent() %}

{% block page %}
{% set header = global.models.Editable.get_iter_from_title('career') %}
<div class="career">
    <header class="hero has-image is-medium is-thumbnail">
        <figure class="hero-image">
            <img 
                srcset="{{ link_static('images/career/header_480w.jpg') }} 480w,
                    {{ link_static('images/career/header_960w.jpg') }} 960w,
                    {{ link_static('images/career/header_1920w.jpg') }} 1920w"
                sizes="100vw"
                src="{{ link_static('images/career/header_1920w.jpg') }}"
                alt="{{ __('Photo of people seated around a conference table during a networking event.') }}"
            >
        </figure>
        <div class="hero-body">
            <div class="container is-content-optimized">
                {% if header and user_can_update header %}
                    <div class="dropdown is-right is-pulled-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Manage') }}</span>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="{{ link('editable.update', editable=header) }}" class="dropdown-item">
                                    {{ __('Modify header') }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="boxed-title-wrapper">
                    <h1 class="boxed-title is-4-mobile is-3-tablet">{{ __('Career') }}</h1>
                </div>
                {% if header %}
                    <div class="boxed-title-wrapper">
                        <div class="boxed-title is-6-mobile is-5-tablet">
                            {{ header.locale_content|parse_markup }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <article class="section vacancies-section" id="vacancies">
        {% set vacancies_page = global.models.Editable.get_iter_from_title('vacancies') %}
        <div class="container is-content-optimized">
            <div class="level">
                <div class="level-left">
                    <h2 class="title is-4">{{ __('Jobs & Internships') }}</h2>
                </div>
                <div class="level-right">
                    {% if vacancies_page and user_can_update vacancies_page or user_can_create global.models.Vacancy.new_iter()%}
                        <div class="dropdown is-right">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        <span class="is-sr-only">{{ __('Manage') }}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    {% if vacancies_page and user_can_update vacancies_page %}
                                        <a href="{{ link('editable.update', editable=vacancies_page) }}" class="dropdown-item">
                                            {{ __('Modify description') }}
                                        </a>
                                    {% endif %}
                                    {% if user_can_create global.models.Vacancy.new_iter() %}
                                        <a href="/vacancies.php?view=create" class="dropdown-item">
                                            {{ __('New vacancy') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if vacancies_page %}
                <div class="content">
                    {{ vacancies_page.locale_content|parse_markup }}
                </div>
            {% endif %}
            <div>
                {{ include('@theme/vacancies/filter_form.twig', {
                    'view': global.views.vacancies,
                    'filter': {},
                    'has_all_button': true,
                }) }}
            </div>
        </div>
    </article>
    <article class="section" id="profiles">
        {% set partners_page = global.models.Editable.get_iter_from_title('partners') %}
        <div class="container is-content-optimized">
            <div class="level">
                <div class="level-left">
                    <h2 class="title is-4">{{ __('Company Profiles') }}</h2>
                </div>
                <div class="level-right">
                    {% if (partners_page and user_can_update partners_page) or user_can_create global.models.Partner.new_iter() %}
                        <div class="dropdown is-right">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        <span class="is-sr-only">{{ __('Manage') }}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    {% if partners_page and user_can_update partners_page %}
                                        <a href="{{ link('editable.update', editable=partners_page) }}" class="dropdown-item">
                                            {{ __('Modify description') }}
                                        </a>
                                    {% endif %}
                                    {% if user_can_create global.models.Partner.new_iter() %}
                                        <a href="/partners.php" class="dropdown-item">
                                            {{ __('Manage partners') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if partners_page %}
                <div class="content">
                    {{ partners_page.locale_content|parse_markup }}
                </div>
            {% endif %}
            <ul class="columns is-mobile is-multiline">
                {% for partner in partners %}
                    <li class="column is-half-mobile is-one-third-tablet">
                        <a href="{{ partner.absolute_url }}" class="partner-profile" alt="{{ partner.name }}">
                            <figure class="image is-3by2">
                                {% if partner.logo_dark_url %}
                                    <img class="darkmode" src="{{ partner.get_logo_dark(700) }}">
                                {% endif %}
                                <img class="default" src="{{ partner.get_logo(700) }}">
                            </figure>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</div>
{% endblock %}
