{% extends './_single_layout.twig' %}

{% set iter = list %}
{% set active_tab = 'archive' %}

{% block tab_content %}
<section id="mailing-list-archive" class="is-active">
	<h2 class="is-sr-only">{{ __('Message archive')}}</h2>
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th>{{ __('Subject') }}</th>
				<th>{{ __('Sender') }}</th>
				<th>{{ __('Date') }}</th>
				<th class="has-text-right">{{ __('Status') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for message in messages %}
			<tr>
				<td class="is-truncated" title="{{ message.subject|default('<No subject>') }}">
					<span><a href="{{ link_to('archive_read', list, message_id=message.id)|e('html_attr') }}">{{ message.subject|default('<No subject>') }}</a></span>
				</td>
				<td class="is-truncated" title="{{ message.sender }}"><span>{{ message.sender }}</span></td>
				<td class="is-nowrap">{{ message.verwerkt_op|date() }}</td>
				<td class="has-text-right" title="{{ view.readable_status(message.return_code) }}">
					{{ message.return_code }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">
					<p class="has-text-centered">
						{{ __('No messages have been send to this list') }}
					</p>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}