<?php
$facebook_button = 'login';

if (get_facebook()->getUser())
{
	try {
		$me = get_facebook()->api('/me', 'GET');
		echo markup_format_text(sprintf(__('You are connected to the Facebook profile of %s.'), $me['name']));
		$facebook_button = 'logout';
	} catch (FacebookException $e) {
		echo __('Your profile is no longer connected to your Facebook account.');
		$facebook_button = 'login';
	}
}
else
{
	echo __('Connect your Facebook account to see who of your friends are attending the activities.');
}
?>
<h2 id="facebook"><?= __('Facebook')?></h2>
<?php if ($facebook_button == 'login'): ?>
	<a class="button connect-facebook-button" href="<?=get_facebook()->getCoverLoginUrl()?>"><?= __('Connect to Facebook') ?></a>
<?php elseif ($facebook_button == 'logout'): ?>
	<form method="post" action="" class="inline-form">
		<input type="hidden" name="facebook_action" value="unlink">
		<button type="submit" class="button connect-facebook-button"><?= __('Disconnect Facebook') ?></button>
	</form>
<?php endif ?>