{% extends 'tab.twig' %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<section class="block">
	<form action="profiel.php?lid={{ iter.id }}&amp;view=profile" method="post">
		{{ html_nonce('profile', iter) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Profile Information') }}</h2>
			</div>
		</div>

		<div class="profile-field">
			<div class="field-body">
				{{ __('Your profile details are used to give your profile page a personal touch.') }}
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				{{ html_label(__('Nickname'), 'nick', errors=errors) }}
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ html_input_text('nick', iter) }}
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				{{ html_label(__('Avatar'), 'avatar', errors=errors) }}
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ html_input_text('avatar', iter, formatter='empty_to_http_formatter', placeholder='https://') }}
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				{{ html_label(__('Website'), 'homepage', errors=errors) }}
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ html_input_text('homepage', iter, formatter='empty_to_http_formatter', placeholder='https://') }}
					</div>
				</div>
			</div>
		</div>

		<div class="profile-field">
			<div class="field-body">
				<button type="submit" class="button">{{ __('Save') }}</button>
			</div>
		</div>
	</form>
</section>

<section class="block">
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=photo" method="post" enctype="multipart/form-data">
		{{ html_nonce('photo', iter) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Change Photo') }}</h2>
			</div>
		</div>

		<div class="profile-field">
			<div class="field-body">
				{{ __('Your photo is not only used on this website, but also in the yearbook. You want to use a more recent photo? Send in the best version you have! Submissions are processed by hand, so it might take a while for the new photo to show up.') }}
			</div>
		</div>

		<div class="profile-field">
			<div class="field-body">
				<div class="field">
					<div class="file">
						<label class="file-label">
							<input class="file-input" type="file" name="photo" accept="image/jpeg" title="{{ __('Only JPEG images are allowed.')|e('html_attr') }}" onchange="if (this.value) this.form.submit()">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">
									{{ __('Choose photo…' )}}
								</span>
							</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

<section class="block">
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=profile" method="post">
		{{ html_nonce('password', iter) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Change Password') }}</h2>
			</div>
		</div>

		{% if current_password_required %}		
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ html_label(__('Current password'), 'wachtwoord_oud', errors=errors) }}
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							{{ html_input_password('wachtwoord_oud') }}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				{{ html_label(__('New password'), 'wachtwoord_nieuw', errors=errors) }}
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ html_input_password('wachtwoord_nieuw') }}
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				{{ html_label(__('Repeat'), 'wachtwoord_opnieuw', errors=errors) }}
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ html_input_password('wachtwoord_opnieuw') }}
					</div>
				</div>
			</div>
		</div>

		<div class="profile-field">
			<div class="field-body">
				<button type="submit" class="button">{{ __('Change password') }}</button>
			</div>
		</div>
	</form>
</section>
{% endblock %}
