<div class="field">
	{{ html_label(__('Full name'), name, errors=errors, required=configuration.required) }}
    <div class="control">
    	{{ html_input_text(name, data, errors=errors, required=configuration.required, placeholder=__('E.g. John von Neumann')) }}
    </div>
</div>