{% extends '@layout/layout.twig' %}

{% block content %}
<h1 class="title">{{ __('Membership application form') }}</h1>
<article>
	<p>{{ __('Your membership application has been submitted. If everything goes according to plan, you should have an email with a confirmation code by now.') }}</p>
</article>
{% endblock %}